.content{
    margin: 30px;
    color: rgb(222, 184, 33);
}
.code{
    margin-top: 10px;
    margin-bottom: 10px;

}
a{
   color: rgb(250, 215, 44);
}
.date{
    text-align: left;
    margin-left: 50px;
}

@media only screen and (max-width:420px){
    .code{
        height:200px;
    }
}