.content{
    margin: 30px;
    color: rgb(222, 184, 33);
}
.code{
    margin:0px;

}
a{
   color: rgb(250, 215, 44);
}

@media only screen and (max-width:420px){
    .code{
        height:200px;
    }
}